<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/products/create">Create Product</a></h3>
      <h1>Product List</h1>
      <% if(products.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th> Product id</th>
            <th>Product Name</th>
          
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<products.length;i++) { %>
            <tr>
              <th scope ="row"><%= products[i]._id %> </th>
              <td><a href="/products/show/<%= products[i]._id%>"><%= products[i].name%></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No Products found.</div>
      <% } %>
    </div>
   
    <div class="break"></div>

    <!--Display the links to the pages-->
    <% if(products > 1) { %> <a href="/products>">Before</a> <% } %>
    <% for(let i = 0; i <= products.length; i++) { %>
        <% if(i === products) { %>
        <a class="selectedLink" href="/products>"><%=i%></a>
        <% continue; %>
    <% } %>
        <a href="/products>"><%=i%></a>
        <% } %>
        <% if(products < products.length) { %> <a href="/products>">After</a> <% } %>
    
  </body>
</html>
